# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


.metadata/
Test/
.settings/
Drivers/
Debug/
Startup/
Debug/
DEBUG/
Beta_Release/

~*
*.PcbDocPreview
*.lck
MotorController/Firmware/MotorController_v2.2/Beta_Release/makefile
MotorController/Firmware/MotorController_v2.2/Beta_Release/makefile
MotorController/Firmware/MotorController_v2.2/Beta_Release/MotorController_v2.2.bin
MotorController/Firmware/MotorController_v2.2/Beta_Release/MotorController_v2.2.list
MotorController/Firmware/MotorController_v2.2/Beta_Release/objects.list
MotorController/Firmware/MotorController_v2.2/Beta_Release/RCWS/driver/hal_motor/subdir.mk
MotorController/Firmware/MotorController_v2.2/Beta_Release/RCWS/driver/weapon/subdir.mk
MotorController/Firmware/MotorController_v2.2/Beta_Release/sources.mk
